p{
   margin: 0;
   padding: 0;
}
ul{
   list-style: none;
}
.profile{
   width: 300px;
   font-size: 15px;
   background-color: rgb(217, 217, 217);
   border-radius: 5px;
   border: 1px solid gray;
}
.description{
   padding: 5px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   background-color: #fff;   
}
.avatar{
   display: block;
   margin: 0 auto;
   margin-top: 15px;
   max-width: 50%;
   height: auto;
   object-fit: contain;
   border-radius: 50%;
}
.name{
   font-size: 30px;
   font-weight: 700;
}
.tag,
.location{
   font-size: 20px;
   font-weight: 500;
   color: gray;
}
.stats{
   margin: 0;   
   padding: 5px;
   display: flex; 
   justify-content: space-between;  
}
li{
   padding: 15px;
   display: flex;   
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 5px;   
}
.label{
   font-size: 20px;
   font-weight: 700;
}